<article>
  <div class="flex flex-col p-10">
    <div
      class="flex justify-between border-2 border-slate-200 rounded-lg p-5 w-full"
    >
      <img
        priority
        ngSrc="../../assets/logo-bonus.svg"
        width="150"
        height="150"
        alt=""
      />
      <div
        class="bg-white rounded-lg flex flex-col justify-evenly items-center px-5"
      >
        <span class="font-bold text-sky-700 text-2xl">SCORE</span>
        <span class="font-black text-slate-500 text-6xl">{{
          currentScore
        }}</span>
      </div>
    </div>

    <div *ngIf="isPickPhase" class="flex justify-center mt-10 relative">
      <!-- PENTAGON -->
      <img
        class="mt-16"
        ngSrc="../../assets/bg-pentagon.svg"
        width="400"
        height="400"
        alt="pentagon"
      />

      <!-- SPOCK BUTTON -->

      <img
        (click)="onUserPick(spock)"
        [ngClass]="spock.htmlClass"
        [ngSrc]="spock.image"
        width="75"
        height="75"
        [alt]="spock.name"
      />

      <!-- LIZARD BUTTON -->

      <img
        (click)="onUserPick(lizard)"
        [ngClass]="lizard.htmlClass"
        [ngSrc]="lizard.image"
        width="75"
        height="75"
        [alt]="lizard.name"
      />

      <!-- ROCK -->
      <img
        (click)="onUserPick(rock)"
        [ngClass]="rock.htmlClass"
        [ngSrc]="rock.image"
        width="75"
        height="75"
        [alt]="rock.name"
      />

      <!-- PAPER -->
      <img
        (click)="onUserPick(paper)"
        [ngClass]="paper.htmlClass"
        [ngSrc]="paper.image"
        width="75"
        height="75"
        [alt]="paper.name"
      />

      <!-- SCISSORS -->
      <img
        (click)="onUserPick(scissors)"
        [ngClass]="scissors.htmlClass"
        [ngSrc]="scissors.image"
        width="75"
        height="75"
        [alt]="scissors.name"
      />
    </div>

    <div *ngIf="!isPickPhase" class="flex justify-center">Not pick phase</div>
  </div>

  <div *ngIf="isConfirmPhase" class="flex justify-center mt-16">
    <div class="flex flex-col gap-5">
      <span class="text-center font-medium text-2xl text-slate-700"
        >You picked:
        <span class="text-3xl font-bold text-sky-900">
          {{ currentSelectedStance.toUpperCase() }}
        </span></span
      >
      <button
        class="border-2 border-slate-500 rounded-lg px-10 py-2 text-xl font-bold text-slate-600"
        type="button"
      >
        CONFIRM
      </button>
    </div>
  </div>

  <div class="flex justify-center mt-32 pb-20">
    <button
      class="border-2 border-slate-500 rounded-lg px-10 py-2 text-xl font-bold text-slate-600"
      type="button"
    >
      RULES
    </button>
  </div>
</article>
